* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --background-color: #0C4184;
    --nav-bar-color: #001F47;
    --user-interaction-color: #D9D9D9;
    --button-color: #374047;
    --logo-color-white: #F4F9F9;
    --logo-color-silver: #B8B8B8;
 }

 #navbar-index{
   width: 100%;
   background-color: var(--nav-bar-color);
   display: flex;
 flex-direction: row;
 justify-content: center;
 max-width: none;
 
 
 }
 
 .navbar-logo {
    width: 80px;
    height: 80px;
    background: var(--nav-bar-color);
    display: flex;
    justify-content: center;    
    align-items: center;
    overflow: hidden;
 }

 .SME {
    width: 100%;
    height:100%;
    object-fit: contain;
    border-radius: 50%;
    padding: 5px;
 }


 .hero-section {
    background-image: url(/Images/hero.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .hero-user-account {
   background-color: var(--user-interaction-color);
   height: 50vh;
   width: 35vw;
   border-radius: 4%;
   border-color: black;
   border: 0.12rem solid black;
   font-family: 'Krona One', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   
}


.Login-Button, .SignUp-Button {
   background-color: var(--button-color);
   height: 7vh;
   width: 10vw;
   color:white;
   text-decoration: none;
   border-radius: 55%;
   display:flex;
   justify-content: center;
   align-items: center;
}

.Login-Button:visited, .SignUp-Button:visited {
   color:white;
}

#main-index {
   background-color: var(--background-color);
   height: 50vh;
   width: 100%;
   padding-top: 5%;
   display: flex;
   justify-content: center;
   align-items: center; 
}

#description {
   
   font-family: 'Krona One', sans-serif;
   color: white;
   text-align: left;
   height: 20vh;
   width: 57vw;
}

.sub-hero-section {
   background-image: url(/Images/Rectangle\ 11.png);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   position: relative;
   height: 100vh;
   z-index: 1;

}

.picture-wrapper {
   position: absolute;
   width: 100%;
}

.picture-track {
   display: flex;
   align-items: center;;
}

.moving-pictures {
  padding-top: 5%;
}

.images {
   
   height: 30vh;
   width: 30vw;
   border-radius: 20%;
}

/*Animation Section*/

@keyframes scrollPicture { /*Also borrowed from Bioshield*/
   0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }
}