* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --background-color: #0C4184;
    --nav-bar-color: #001F47;
    --user-interaction-color: #D9D9D9;
    --button-color: #374047;
    --logo-color-white: #F4F9F9;
    --logo-color-silver: #B8B8B8;
 }

 #navbar-index{
 display: flex;
 flex-direction: row;
 justify-content: center;
 max-width: none;
 width: 100%;
 
 }
 
 .navbar-logo {
    width: 80px;
    height: 80px;
    background: white;
    display: flex;
    justify-content: center;    
    align-items: center;
    overflow: hidden;
 }

 .SME {
    width: 100%;
    height:100%;
    object-fit: contain;
    border-radius: 50%;
    padding: 5px;
 }